<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../lib/moment.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>
<body>
    <div id="app">
        <div class="panel-body form-inline">
            <label>
                id:
                <input type="text" class="form-control" v-model="idObj">
            </label>
            <label>
                name:
                <input type="text" class="form-control" v-model="nameObj" @keyup.f2="insertObj">
            </label>
            <input type="button" class="btn btn-primary" value="add" @click="insertObj">
        
            <label>
                search:
                <input type="text" class="form-control" v-model="keywords" v-focus>
            </label>
        </div>
        <div>
            <table class="table table-brodered table-hover table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>time</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- 之前v-for中的数据,都是直接从data上的list渲染过来的 -->
                    <!-- 现在通过自定的方法筛选list,重新将筛选后的list渲染出来 -->
                    <tr v-for="(item, index) in search(keywords)" :key="item.id">
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.time | timeFormat }} </td>
                        <td><a href="#" @click.prevent = "delObj(item.id)">del</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="app2">
        <p v-fontweight="900" v-hellocolor="'red'">{{ dateStr | timeFormat}}</p>
    </div>

    <script>
        Vue.config.keyCodes.f2 = 113;
        //使用Vue.directive定于全局指令
        //参数1：指令的名称(**定义的时候,指令的名称前不需要加v-前缀),调用的时候则需要加v-前缀
        //参数2: 是一个指令相关的处理函数
        Vue.directive('focus',{
            //每当指令绑定到元素上时,会立即执行这个bind函数,只执行一次;
            bind:function(el){
                //注意:在每个函数中,第一个参数,永远是el,表示被绑定指令的元素,这个el参数是原生的js对象
                //在元素刚绑定指令的时候,还没有插入到dom中去,这个时候调用focus没有作用,因为元素只有插入dom后才能获取焦点;
                el.focus();
            },
            //表示元素插入到dom中的时候会执行inserted函数,只执行一次
            inserted:function(el){
                el.focus();
            },
            //当vnode更新的时候执行update,会触发多次
            update:function(){

            }
        });

        // 全局过滤器
        Vue.filter('timeFormat',function(data){
            return moment().format('YYYY-MM-DD HH:mm:ss');
            // var dt = new Date(data);
            // console.log(data);
            // console.log(dt);
            // console.log(dt.getFullYear());
            // return dt.getFullYear() + '-' + (dt.getMonth()+1) + '-'+ dt.getDay();
        });

        var vm = new Vue({
            el:'#app',
            data:{
                idObj:null,
                nameObj:null,
                keywords:'',
                list:[
                    {
                        id:1,
                        name:'yarai',
                        time: new Date()
                    },
                    {
                        id:2,
                        name:'mera',
                        time: new Date()
                    }
                ]
            },
            methods: {
                insertObj(){
                    this.list.push({id:this.idObj, name:this.nameObj, time:new Date()});
                    this.idObj = '';
                    this.nameObj = '';
                },
                delObj(delId){
                    //console.log(delId);
                    this.list.some((item,i)=>{
                        if(delId == item.id){
                            this.list.splice(i,1);
                            return true;
                        }
                    })
                },
                search(keywords){
                     var tmpList = [];
                    // this.list.forEach(item => {
                    //     if(item.name.indexOf(keywords)!= -1){
                    //         tmpList.push(item);
                    //     }
                    // });

                    return this.list.filter(item=>{
                        if(item.name.includes(keywords)){
                            //tmpList.push(item);
                            return item;
                        }
                    })

                    //return tmpList;
                }
            },
        });

        var vm2 = new Vue({
           el:'#app2',
           data:{
                dateStr: moment().format('YYYY-MM-DD HH:mm:ss')     
           },
           methods:{

           },
           //定义私有过滤器
           filters:{
            timeFormat:function(data){
                var dt = new Date(data);
                console.log(data);
                console.log(dt);
                console.log(dt.getFullYear());
                return dt.getFullYear() + '-' + (dt.getMonth()+1) + '-'+ dt.getDay();
            }
           },
           //自定义私有指令
           directives:{
                'fontweight':{
                    bind:function(el,value){
                        el.style.fontWeight = value.value;     
                    }        
                },
                //指令简写，等同于将代码写到bind和update中
                'hellocolor':function(el,value){
                    console.log(value.value);
                    el.style.color = value.value;     
                }

           }
        })
    </script>
</body>
</html>